#banner
	.banner_content
		%h1 File Cabinet
		%p Your Life's Work. Organised, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organise
				%p Lorem ipsum dolor amet schlitz cray banh mi hexagon letterpress, austin bitters sustainable ramps. Hashtag lomo salvia, direct trade deep v messenger bag letterpress scenester echo park vexillologist blue bottle brooklyn. Banh mi salvia master cleanse palo santo, pickled quinoa 8-bit plaid brunch tousled +1 

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path			
